<div class="repositories-container">
    <table class="repositories">
        <tr class="table-header">
            <th (click)="toggleAlphabetically()">NOMBRE DEL REPO
                <img class="arrow" src="assets/imgs/caret-arrow-up.png" *ngIf="orderAlphabeticallyToggle">
                <img class="arrow" src="assets/imgs/caret-down.png" *ngIf="!orderAlphabeticallyToggle">
            </th>
            <th>DESCRIPCIÓN</th>
            <th>ENLACE AL REPO</th>
            <th (click)="toggleOrderByStars()">
                ESTRELLAS
                <img class="arrow" src="assets/imgs/caret-arrow-up.png" *ngIf="orderByStarsToggle">
                <img class="arrow" src="assets/imgs/caret-down.png" *ngIf="!orderByStarsToggle">
            </th>
            <th>LENGUAJES DE PROGRAMACIÓN</th>
        </tr>
        <tr class="repository" *ngFor="let repo of repositories">
            <td>{{repo.name}}</td>
            <td>{{repo.description}}</td>
            <td><a target="_blank" [href]="repo.svn_url">{{repo.svn_url}}</a> </td>
            <td>{{repo.stargazers_count}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </table>
</div>