/* You can add global styles to this file, and also import other style files */
body{
    padding:0 !important;
    margin:0 !important;
}
input, .btn-submit{
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
    padding:10px;
}
.btn-submit{
    cursor:pointer;
    background: blue;
    color:white;
}
.btn-submit:disabled {
    background: #ccc;
}